@font-face {
  font-family: 'Mono';
  src: url('./assets/fonts/InputMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #222;
}

body {
  font-family: 'Mono';
  font-size: 12px;
  color: #eee;
  margin: 0px;
  background-color: #222;
}

p {
  margin: 5px 0px;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
}

svg {
  pointer-events: none;
}

.root {
  display: flex;
  flex-direction: column;
  background-color: #222;
  height: 100vh;
  width: 100vw;
}

.drag {
  -webkit-app-region: drag;
  width: 100%;
  height: 20px;
}

.header {
  display: flex;
  height: 30px;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  padding-left: 5px;
  color: #888;
}

.nav .selected {
  color: #eee;
}

.content {
  width: 100%;
}

.player {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
}

/* album element */
.album {
  display: flex;
  flex-direction: column;
}

.album .main {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.album .main .titleAndArtist {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.album .art {
  object-fit: cover;
  height: 50px;
  width: 50px;
}

/* song element */
.song {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.song .main {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.song .main .titleAndArtist {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.song .main button {
  display: flex;
  margin-bottom: 0px;
}

.song .main .separator {
  margin-left: 5px;
  margin-right: 5px;
}

.song .art {
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.song .files-visible {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.song .files-hidden {
  display: none;
}

.song .file {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  cursor: pointer;
}

