@font-face {
  font-family: 'Mono';
  src: url('./assets/fonts/InputMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*::-webkit-scrollbar { /*Custom scrollbar*/
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--b-low);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--b-lowest);
  border-radius: 20px;
  border: 3px solid var(--b-low);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #010101;
}

*::-webkit-scrollbar-corner {
  background: var(--b-low);
}

:root {
  --f-highest: #eee;
  --f-high: #ccc;
  --f-mid: #bbb;
  --f-low: #888;
  --b-high: #444;
  --b-mid: #333;
  --b-low: #222;
  --b-lowest: #111;
  --overlay: rgba(238, 238, 238, 0.05); /* 238 is equivalent to #eee */
}

html {
  background-color: var(--b-low);
  box-sizing: border-box;
}

body {
  font-family: 'Mono';
  font-size: 12px;
  color: var(--f-highest);
  margin: 0px;
  background-color: var(--b-low);
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover, button:active, button:focus {
  text-decoration: underline;
}

svg {
  pointer-events: none;
}

table {
  border-spacing: 2px 0;
}

th {
  text-align: left;
  border-bottom: 1px solid var(--f-low);
  height: 20px;
}

td {
  vertical-align: center;
  height: 20px;
  color: var(--f-mid);
}

td button {
  display: flex;
}

input[type=text], input[type=password], input[type=search] {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--b-low);
  color: var(--f-highest);
  border: none;
}

input[type=search] {
  padding-left: 5px;
}

input[type=search]:focus {
  border: none;
  outline: none;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: var(--b-low);
  border: none;
  outline: none;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { /*remove clear button from search bar*/
  -webkit-appearance: none;
  appearance: none;
}

input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 2px;
  background-clip: content-box;
  border: 1px solid var(--f-mid);
  background-color: var(--b-low);
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}

/* appearance for checked radiobutton */
input[type=radio]:checked {
  background-color: var(--f-highest);
}

input[type=radio]:focus {
  outline: none;
  border: 1px solid var(--f-highest);
}

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 2px;
  background-clip: content-box;
  border: 1px solid var(--f-mid);
  background-color: var(--b-low);
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}

/* appearance for checked checkbox */
input[type=checkbox]:checked {
  background-color: var(--f-highest);
}

input[type=checkbox]:focus {
  outline: none;
  border: 1px solid var(--f-highest);
}

input[type=checkbox]:disabled {
  border: 1px solid var(--b-high);
}

input[type=checkbox]:disabled:checked {
  background-color: var(--b-high);
}

input[type=file] {
  font-family: inherit;
  font-size: 10px;;
  color: var(--f-highest);
}

input[type=file]:focus {
  border: none;
  outline: none;
}

input[type=file]:focus::-webkit-file-upload-button {
  border: 1px solid var(--f-highest);
}

input[type=file] button {
  font-family: inherit;
  font-size: inherit;
  color: var(--f-highest);
}

::-webkit-file-upload-button { /*Input file button styling*/
  font-family: inherit;
  font-size: 12px;
  color: inherit;
  background: none;
  border: 1px solid var(--f-mid);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

::-webkit-file-upload-button:hover {
  background-color: var(--b-mid);
}

input[type=submit] {
  font-family: inherit;
  font-size: 12px;
  color: inherit;
  background: none;
  border: 1px solid var(--f-mid);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--b-mid);
}

input[type=submit]:focus {
  border: 1px solid var(--f-highest);
}

input[type=range] {
  background: linear-gradient(to right, var(--f-mid) 0%, var(--f-mid) 0%, var(--b-high) 0%, var(--b-high) 100%);
  height: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-thumb {
  background-color: var(--f-highest);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--f-high);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  outline: none;
}

select {
    -webkit-appearance: button;
    -webkit-user-select: none;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    background-color: var(--b-low); /* Fallback color if gradients are not supported */
    color: var(--f-mid);
    font-size: inherit;
    font-family: inherit;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0;
    width: 100px;
    height: 20px;
}

select:focus {
  outline: none;
}

select:hover {
  color: var(--f-highest);
}

select:disabled {
  color: var(--f-low);
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

pre {
  font-family: inherit;
}

#first {
  border: 0px;
}

.root {
  display: flex;
  flex-direction: column;
  background-color: var(--b-low);
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.drag {
  -webkit-app-region: drag;
  width: 100%;
  height: 12px;
  display: flex;
  color: var(--f-mid);
}

.drag.darwin {
  height: 22px;
}

.bw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  margin-top: auto;
  margin-left: 7px; /*due to button paddings in nav*/
  font-size: 9px;
}

.drag .loading {
  display: flex;
  align-items: center;
  width: 10px;
  height: 10px;
  margin-bottom: 3px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login .drag {
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
}

.login .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 75px;
}

.login .artist-and-pw {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo-div svg {
  stroke: var(--f-high);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-right: 10px;
  margin-top: 5px;
  height: 26px;
}

.header.frameless {
  margin-top: 3px;
}

.header .header-left {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-left: 5px;
  width: 120px;
}

.header .header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  stroke: var(--f-mid);
}

.header button:hover {
  stroke: var(--f-highest);
}

.header button:focus {
  stroke: var(--f-highest);
}

.header button:disabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  stroke: var(--b-high);
  cursor: default;
}

.header .refresh {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: var(--f-mid);
}

.header .refresh:hover {
  stroke: var(--f-highest);
}

.header .refresh:focus {
  stroke: var(--f-highest);
}

.header .upload {
  border: 1px solid var(--f-mid);
  border-radius: 4px;
  margin-left: 10px;
  text-decoration: none;
}

.header .upload:hover {
  background-color: var(--b-mid);
}

.header .upload:focus {
  border: 1px solid var(--f-highest);
}

.header .search {
  display: flex;
  align-items: stretch;
}

.search .search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: var(--f-mid);
}

.search .search-button:hover {
  stroke: var(--f-highest);
}

.search .search-button:focus {
  stroke: var(--f-highest);
}

.search-view label {
  color: var(--f-mid);
}

.search-view-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  height: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 120px;
  width: 120px;
  max-width: 120px;
  padding-left: 5px;
  padding-top: 2px;
  color: var(--f-low);
}

.nav button {
  height: 20px;
}

.nav .selected {
  color: var(--f-highest);
}

.content {
  position: relative;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 50px;
  padding-left: 5px;
  padding-top: 2px;
}

.content>* {
  width: calc(100vw - 120px - 15px);
}

.content .load-more {
  font-size: 10px;
  padding-left: 0;
  margin-bottom: 5px;
}

.player {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: var(--b-low);
}

.player button {
  display: flex;
  margin: 2px;
}

.player .player-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.player .player-main input {
  width: 100%;
  margin: 5px 0;
}

.player .player-main .title-and-artist {
  display: inline-block;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  margin: 5px 0;
  font-size: 11px;
}

.player .main-back-button {
  margin-left: 10px;
  stroke: var(--f-high);
  fill: var(--f-high);
}

.player .main-back-button:enabled:hover {
  stroke: var(--f-highest);
  fill: var(--f-highest);
}

.player .main-back-button:enabled:focus {
  stroke: var(--f-highest);
  fill: var(--f-highest);
}

.player .main-back-button:disabled {
  stroke: var(--b-high);
  fill: var(--b-high);
  cursor: default;
}

.player .main-play-button {
  stroke: var(--f-high);
  fill: var(--f-high);
}

.player .main-play-button:hover {
  stroke: var(--f-highest);
  fill: var(--f-highest);
}

.player .main-play-button:focus {
  stroke: var(--f-highest);
  fill: var(--f-highest);
}

.player .main-forward-button {
  margin-right: 20px;
  stroke: var(--f-high);
  fill: var(--f-high);
}

.player .main-forward-button:enabled:hover {
  stroke: var(--f-highest);
  fill: var(--f-highest);
}

.player .main-forward-button:enabled:focus {
  stroke: var(--f-highest);
  fill: var(--f-highest);
}

.player .main-forward-button:disabled {
  stroke: var(--b-high);
  fill: var(--b-high);
  cursor: default;
}

.player .volume {
  width: 75px;
  margin-right: 20px;
  margin-left: 5px;
}

.player .speaker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  stroke: var(--f-high);
}

.player .spinner {
  width: 15px;
  height: 15px;
}

/* album element */
.album .main .album-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  min-width: 25px;
  margin-right: 10px;
  stroke: var(--f-highest);
}

.album-view .created-at {
  color: var(--f-low);
  margin-top: -5px;
  margin-left: 25px;
  font-size: 9px;
}

.album-view .tags {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 25px;
  margin-right: 5px;
  height: 20px;
  overflow: auto;
}

.album-view .tags::-webkit-scrollbar {
  display: none;
}

.album-view .description {
  color: var(--f-low);
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 11px;
}

.album-view .song {
  margin-left: 18px;
}

/* song element */
.song-view-files, .song-view-comments {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.song-view-files .created-at, .song-view-comments .created-at {
  color: var(--f-low);
  margin-top: -5px;
  margin-left: 25px;
  font-size: 10px;
}

.song-view-files .description, .song-view-comments .description {
  color: var(--f-low);
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 11px;
}

.song-view-files .tags, .song-view-comments .tags {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 25px;
  margin-right: 5px;
  height: 20px;
  overflow: auto;
}

.song-view-files .tags::-webkit-scrollbar, .song-view-comments .tags::-webkit-scrollbar {
  display: none;
}

.song-view-files {
  overflow-x: hidden;
  padding-bottom: 5px;
}

.song-view-files .files {
  margin-top: 7px; /*No idea why this is 7...*/
  padding-left: 0;
}

.song-view-files .files-empty {
  margin-left: 8px;
  margin-top: 10px;
}

.song-view-main {
  display: flex;
  flex-direction: column;
  color: var(--f-low);
  margin-left: 0px;
  flex: 1;
}

.comment-container {
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  left: 0;
  margin-top: auto;
  background-color: var(--b-low);
  width: 100%;
}

.comment-container .marker {
  color: var(--f-highest);
  margin-left: 13px;
}

.comment-container textarea {
  border: none;
  background-color: var(--b-low);
  color: var(--f-highest);
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  resize: none;
}

.comment-container textarea:focus {
  outline: none;
}

.comment-container button {
  color: var(--f-highest);
}

.comment {
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 5px;
}

.comment pre {
  color: var(--f-highest);
  margin-top: 1px;
  margin-bottom: 0;
  padding: 0;
  white-space: pre-wrap;
}

.song-view-main button {
  padding: 0px;
  margin-right: 10px;
}

.song-view-main .selected {
  text-decoration: underline;
  color: var(--f-highest);
}

/*song and album*/
.song, .album {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.song .main, .album .main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  cursor: pointer;
  height: 20px;
  padding-top: 0;
}

.song .main .play-button, .album .main .play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  min-width: 25px;
  stroke: var(--f-high);
  fill: var(--f-high);
}

.song .main .play-button:hover, .album .main .play-button:hover {
  stroke: var(--f-highest);
  fill: var(--f-highest);
}

.song .main .play-button:focus, .album .main .play-button:focus {
  stroke: var(--f-highest);
  fill: var(--f-highest);
}

.song .main p, .album .main p {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.song .main .artist, .album .main .artist {
  padding: 0px;
  padding-right: 5px;
}

.title-and-artist {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-content: stretch;
  overflow: hidden;
}

.song .title-and-artist {
  margin-right: 10px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}

.tag {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: var(--f-low);
  margin-left: auto;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
  padding-right: 0;
}

.tags .tag {
  margin: 0;
  padding: 0 5px;
}

.tags .tag:first-child {
  padding-left: 0;
}

.separator {
  margin-right: 5px;
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions-inner {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-size: 10px;
  color: var(--f-low);
  margin-left: 20px;
  height: 20px;
}

.actions-inner button {
  padding: 0 5px;
  white-space: nowrap;
}

.actions-delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  color: #C44;
  margin-left: 25px;
  height: 20px;
}

.pin-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
  stroke: var(--f-mid);
}

.file td {
  color: var(--f-highest);
}

.file .play-button-cell {
  min-width: 25px;
  padding-right: 4px; /*Compensate for 2px border-spacing on both sides*/
}

.file .play-button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--f-high);
  fill: var(--f-high);
}

.file .play-button:hover {
  stroke: var(--f-highest);
  fill: var(--f-highest);
}

.artist-card {
  margin-bottom: 10px;
}

.artist-card .artist-name {
  padding-left: 0;
  height: 20px;
}

.artist-card .artist-name:disabled {
  text-decoration: none;
  cursor: default;
}

.artist-card .name-and-follow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.artist-card .name-and-follow .follow {
  border: 1px solid var(--f-mid);
  border-radius: 4px;
  margin-left: 10px;
  text-decoration: none;
}

.artist-card .name-and-follow .follow:hover {
  background-color: var(--b-mid);
}

.artist-card .name-and-follow .follow:focus {
  border: 1px solid var(--f-highest);
}

.artist-card .name-and-follow .following {
  background-color: var(--f-mid);
  color: var(--b-low);
}

.artist-card .name-and-follow .following:hover {
  background-color: var(--f-high);
}

.artist .bio {
  color: var(--f-low);
  margin-bottom: 20px;
  font-size: 11px;
  margin-right: 5px;
  white-space: pre-wrap;
}

.artist-card .location-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}

.artist-card .location-div svg {
  margin-right: 5px;
  fill: var(--f-highest);
  stroke: var(--f-highest);
}

.artist-card .location-div p {
  margin: 0px;
}

.comments {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  flex: 1;
}

.comments p {
  color: var(--f-highest);
  margin: 0;
}

.comments .padding {
  height: 5px;
}

.delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.delete p {
  text-align: center;
}

/*UploadView*/
.upload-album input {
  flex: 1;
  margin-left: 5px;
}

.upload-album input:disabled {
  color: var(--f-low);
}

.upload-album textarea:disabled {
  color: var(--f-low);
}

.upload-album .album-title-div, .upload-album .album-tags-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upload-song {
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
}

.upload-song input {
  flex: 1;
  margin-left: 5px;
}

.upload-song .song-title-div, .upload-song .song-tags-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upload-song button {
  padding: 0;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 11px;
}

.upload-song .song-file-div {
  margin: 5px 0;
}

.upload-song .song-overlay {
  position: absolute;
  top: 0;
  left: 4px;
  right: 4px;
  bottom: 5px;
  visibility: hidden;
  background-color: var(--overlay);
  z-index: 1;
}

.upload-file {
  position: relative;
  padding: 5px;
  margin: 10px 5px;
  background-color: var(--b-low);
  z-index: 2;
}

.upload-file input {
  flex: 1;
  margin-left: 5px;
}

.upload-file input:disabled {
  color: var(--f-low);
}

.upload-file .file-name-div, .upload-file .file-id-div, .upload-file .file-tags-div, .upload-file .file-info-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upload-file .file-overlay {
  position: absolute;
  top: 0;
  left: 4px;
  right: 4px;
  bottom: 5px;
  visibility: hidden;
  background-color: var(--overlay);
  z-index: 3;
}

.upload-description {
  display: flex;
  flex-direction: column;
  margin-top: 1px; /*because of weird label behaviour*/
}

.album-textarea {
  border: 2px groove var(--f-mid);
  background-color: var(--b-low);
  color: var(--f-highest);
  margin: 0 2px;
  margin-top: 5px;
  margin-bottom: 10px;
  resize: vertical;
}

.song-textarea {
  border: 2px groove var(--f-mid);
  background-color: var(--b-low);
  color: var(--f-highest);
  margin: 0 2px;
  margin-top: 5px;
  resize: vertical;
}

.album-textarea:disabled {
  background-color: var(--b-mid);
}

.album-textarea:focus, .song-textarea:focus {
  outline: none;
}

.label-disabled {
  color: var(--f-low);
}

.radio-group-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

.radio-group-div p {
  margin: 0;
}

.radio-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}

.checkbox-group-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

.checkbox-group-div p {
  margin: 0;
  margin-right: 5px;
}

.checkbox-group-div .license-info-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  stroke: var(--f-mid);
}

.checkbox-group-div .license-info-button:hover {
  stroke: var(--f-highest);
}

.checkbox-group-div .license-info-button:focus {
  stroke: var(--f-highest);
}

.checkbox-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}

.upload-bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.upload-bottom-bar .add-song {
  padding-left: 0px;
  margin-right: auto;
  white-space: nowrap;
}

.upload-bottom-bar log {
  color: var(--f-mid);
  font-size: 10px;
  margin: 0 5px;
  padding-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-bottom-bar .submit-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.upload-bottom-bar .submit-div .spinner {
  margin-right: 5px;
}

.upload-bottom-bar .submit-div .percentage {
  margin-right: 5px;
}

.pinned-view-albums {
  margin-top: 0;
}

/**Spinner**/
.spinner {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--f-highest);
  border-color: var(--f-highest) var(--f-highest) var(--f-highest) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**Transfers**/
.transfers-view .clear-all {
  margin-top: 20px;
  padding-left: 0;
  font-size: 10px;
}

.transfers-view th {
  color: var(--f-mid);
}

.transfer td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--f-highest);
}

.transfer button:disabled {
  color: var(--f-low);
  cursor: default;
}
.transfer button:hover:disabled {
  text-decoration: none;
}

.transfer .resume {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: var(--f-mid);
  fill: var(--f-mid);
  width: 30px;
}

.transfer .resume:enabled:hover {
  stroke: var(--f-highest);
}

.transfer .resume:enabled:focus {
  stroke: var(--f-highest);
}

.transfer .resume:disabled {
  stroke: var(--f-low);
}

.transfer .clear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  stroke: var(--f-mid);
}

.transfer .clear:hover {
  stroke: var(--f-highest);
}

.transfer .clear:focus {
  stroke: var(--f-highest);
}

.transfer .actions-cell {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

/**Settings**/
.settings-view {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}

.settings-view .section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  margin-top: 5px;
  color: var(--f-low);
}

.settings-view .section:first-of-type {
  margin-top: 0px;
}

.settings-view .setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}

.settings-view .setting div {
  white-space: pre;
}

.settings-view .setting input {
  color: var(--f-mid);
  width: 100%;
  margin-right: 5px;
}

.settings-view .bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 5px;
}

.settings-view log {
  color: var(--f-mid);
  font-size: 10px;
  margin: 0 10px;
  padding-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Empty screen*/
.empty {
  display: flex;
  align-items: center;
  height: 20px;
}
